.marg{
    letter-spacing: 8px;
}

.modal-content{
    border: none !important;
}
.title-alert-header{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    margin-top: 2.5rem;
}
.alert-static {
    max-width: 500px;
    margin: 1.75rem auto;
}
.w-icons-sent img{
    width: 13%;
}
.title-skin-alert{
    white-space: nowrap;
    width: 40px;
    text-overflow: ellipsis;
}
#appadd {
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 145px; 
}

.text-w-set {
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; 
}
.scrol {
    width: 800px;
    height: 600px;
    overflow: hidden;
    overflow-y: scroll;
    display: block;
}
.maroon-box {
    width: 20px;
    height: 20px;
    background-color: #a8385d;
    border-radius: 3px;
  }
.cornblue-box{
    width: 20px;
    height: 20px;
    background-color:#7aa3e5;
    border-radius: 3px;
}
.purple-box{
    width: 20px;
    height: 20px;
    background-color:#a27ea8;
    border-radius: 3px;
}
.aqua-box{
    width: 20px;
    height: 20px;
    background-color:aqua;
    border-radius: 3px;
}
.user-box{
    width: 20px;
    height: 20px;
    background-color:cornflowerblue;
    border-radius: 3px;
}
.light-maroon-box{
    width: 20px;
    height: 20px;
    background-color:#aae3f5;
    border-radius: 3px;
}

.voted-box{
    width: 20px;
    height: 20px;
    background-color:#7aa3e5;
    border-radius: 3px;
}

.not-voted-box{
    width: 20px;
    height: 20px;
    background-color:#adcded;
    border-radius: 3px;
}

.like-count {
    width: 20px;
    height: 20px;
    background-color: #adcded;
    border-radius: 3px;
}

.uss {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.bg-color {
    background: #f2f2f2;
    width: 350px;
    padding: 16px;
}